/* ============================================ *
 * EASING
 * ============================================ */

$transition: .4s cubic-bezier(.4,0,.2,1);

$easeInQuad: cubic-bezier(.55, .085, .68, .53);
$easeInCubic: cubic-bezier(.550, .055, .675, .19);
$easeInQuart: cubic-bezier(.895, .03, .685, .22);
$easeInQuint: cubic-bezier(.755, .05, .855, .06);
$easeInExpo: cubic-bezier(.95, .05, .795, .035);
$easeInCirc: cubic-bezier(.6, .04, .98, .335);

$easeOutQuad: cubic-bezier(.25, .46, .45, .94);
$easeOutCubic: cubic-bezier(.215, .61, .355, 1);
$easeOutQuart: cubic-bezier(.165, .84, .44, 1);
$easeOutQuint: cubic-bezier(.23, 1, .32, 1);
$easeOutExpo: cubic-bezier(.19, 1, .22, 1);
$easeOutCirc: cubic-bezier(.075, .82, .165, 1);

$easeInOutQuad: cubic-bezier(.455, .03, .515, .955);
$easeInOutCubic: cubic-bezier(.645, .045, .355, 1);
$easeInOutQuart: cubic-bezier(.77, 0, .175, 1);
$easeInOutQuint: cubic-bezier(.86, 0, .07, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeInOutCirc: cubic-bezier(.785, .135, .15, .86);


// Vue Transitions
.slide-enter { 
  opacity: 0;
  @include transform(translateY(-2%));
}
.slide-enter-to {  
  opacity: 1; 
  @include transform(translateY(0));
}

.slide-leave { 
  opacity: 0; 
}
.slide-leave-to { 
  opacity: 0; 
}

.slide-enter-active { 
  @include transition-property(all);
  @include transition-duration(0.35s);
  @include transition-timing-function($easeOutQuad);
  // @include transition-delay(0.15s);
}
.slide-leave-active { 
  @include transition-property(opacity);
  @include transition-duration(0);
  @include transition-timing-function($easeOutQuart);
}

.slide-right-fade-enter-active,
.slide-right-fade-leave-active {
  @include transition(opacity .25s $easeOutQuad, transform .25s $easeOutQuad);
}
.moving-item {
  position: absolute;
}
.slide-right-fade-enter, .slide-right-fade-leave-to {
  opacity: 0;
  @include transform(translateX(15%));
}